 .addgoods-head{
	border-bottom: 1px solid #ccc;
	padding: 7px 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.addgoods-head>.add-title>a{
	font-size: 18px;
	color: #333;
}
.addgoods-head>.add-title>a:hover{
	color: #EB8A3D;
}
.addgoods-head>.add-list{
	color: #4c4c4c;
	font-size: 18px;	
}
.addgoods-head>.add-help{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.addgoods-head>.list-addgoods>a{
	float: right;
	height: 26px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	background: #c43926 url(../images/icon_add02.gif) no-repeat 6px center;
	border-radius: 3px;
	color: #fff;
	text-align: center;
}
.list-revise{
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	margin-bottom: 10px;
	padding: 1px;
}
.list-revise>.goodsmain-list{
	background: #efefef;
	padding-left: 10px;
	height: 39px;
}
.list-revise>.goodsmain-list>ul{
	margin-top: 2px;
}
.list-revise>.goodsmain-list>ul>li{
	padding: 0 20px;
	text-align: center;
	font-size: 13px;
	float: left;
	color: #787878;
	height: 39px;
	line-height: 39px;
}
.goods-front{
	background: #fefefe;
}
.list-revise>.goodsmain-list>ul>li>a{
	display: inline-block;
	height: 100%;
	width: 100%;
}
.revise-message{
	padding: 10px;
	background: #fefefe;
}
.revise-message>form>table{
	width: 90%;
	margin: 0 auto;
}
.revise-message>form>table>tbody>tr>.goods-label{
	text-align: right;
	vertical-align: top;
	font-weight: bold;
	padding: 5px 12px;
	width: 30%;
	line-height: 30px;
}
.revise-message>form>table>tbody>tr>td input{
	margin: 5px 0;
	height: 23px;
	vertical-align: middle;
}
.revise-last{
	background: #fefefe;
	text-align: center;
	padding-bottom: 10px;
}
.revise-last input{
	padding: 5px 15px;
	margin: 2px 2px;
	border: none;
	background: #ff3f3f;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}
.revise-foot{
	background: #f3f3f3 url(../images/th_bg.gif) repeat-x;
	border: 1px solid #ddd;
	padding: 15px;
	color: #9CACAF;
	margin: 10px 0;
	text-align: center;
}
