<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/list-revise.css">
	<script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
</head>
<body>
	<div class="addgoods-head">
		<span class="add-title"><a>ECSHOP 管理中心</a></span>
		<span class="add-list">- 添加新商品</span>
		<span class="add-help"><a><img src="images/jnsy.png"></a></span>
		<span class="list-addgoods"><a>添加新商品</a></span>
	</div>
	<div class="list-revise">
		<div class="goodsmain-list">
			<ul class="goods-list">
				<li class="goods-front"><a>修改信息</a></li>
			</ul>
		</div>
		<div class="revise-message">
			<form>
				<table>
					<tbody>
						<tr>
							<td class="goods-label">商品名称:</td>
							<td><input class="revise-name" type="text" disabled="disabled"></td>
						</tr>
						<tr>
							<td class="goods-label">商品货号:</td>
							<td><input class="revise-num" type="text" disabled="disabled"></td>
						</tr>
						<tr>
							<td class="goods-label">本店售价:</td>
							<td><input class="revise-price" type="text"></td>
						</tr>
						<tr>
							<td class="goods-label">商品库存数量:</td>
							<td><input class="revise-inventory" type="text"></td>
						</tr>
						<tr>
							<td class="goods-label">虚拟销量:</td>
							<td><input class="revise-sales" type="text"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="revise-last">
			<input class="revise-choose" type="button" value="确定">
			<input class="revise-reset" type="button" value="重置">
		</div>
		<div class="revise-foot">
			<span>共执行 7 个查询，用时 0.024639 秒，Gzip 已禁用，内存占用 3.536 MB</span><br>
			<span>版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。</span>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/list-revise.js"></script>
</html>