<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
	<script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
</head>
<body>
	<div class="list-head">
		<div class="list-logo">
			<img src="../images/topLogo.png">
		</div>
		<div class="list-rg">
			<ul>
				<li><a><img src="images/topmune_08.png"><span>退出</span></a></li>
				<li><a><img src="images/qingchu.png"><span>清除缓存</span></a></li>
				<li><a><img src="images/topmune_07.png"><span>关于 ECSHOP</span></a></li>
				<li><a><img src="images/topmune_007.png"><span>帮助</span></a></li>
				<li><a><img src="images/topmune_06.png"><span>查看网店</span></a></li>
				<li><a><img src="images/topmune_05.png"><span>管理员留言</span></a></li>
				<li><a><img src="images/topmune_04.png"><span>个人设置</span></a></li>
				<li><a><img src="images/topmune_03.png"><span>刷新</span></a></li>
				<li><a><img src="images/topmune_02.png"><span>记事本</span></a></li>
				<li><a><img src="images/topmune_01.png"><span>开店向导</span></a></li>
				<li class="last"><a><img src="images/topmune_09.png"><span>更多模板堂产品</span></a></li>
			</ul>
		</div>
	</div>
	<div class="list-menu">
		<ul>
			<li>
				<a><img src="images/index-11_07.png"><span>起始页</span></a>
				<span class="col"></span>
			</li>
			<li>
				<a><img src="images/index-11_41.png"><span>设置导航栏</span></a>
				<span class="col"></span>
			</li>
			<li>
				<a><img src="images/index-11_09.png"><span>商品管理</span><span class="num">2</span></a>
				<span class="col"></span>
			</li>
			<li>
				<a><img src="images/dd.png"><span>订单管理</span><span class="num">0</span></a>
				<span class="col"></span>
			</li>
			<li>
				<a><img src="images/index-11_13.png"><span>广告管理</span><span class="num">0</span></a>
				<span class="col"></span>
			</li>
			<li>
				<a><img src="images/index-11_19.png"><span>用户评论</span><span class="num">0</span></a>
				<span class="col"></span>
			</li>
			<li><a>商品列表</a></li>
			<li><a>订单列表</a></li>
			<li><a>用户评论</a></li>
			<li><a>会员列表</a></li>
			<li><a>商店设置</a></li>
			<li><a>移动版</a></li>
			<li><a>服务市场</a></li>
		</ul>
	</div>
	<div class="list-main">
		<!--导航栏-->
		<div class="list-navigate">
			<div class="list-tab"><a>导航菜单</a></div>
			<div class="menu-div">
				<ul>
					<dl class="icon-d">
						<li class="icon1 icon iconi">商品管理</li>
						<ol class="icol">
							<li class="menu-item" onclick="update()"><a class="menu-a">商品列表</a></li>
							<li class="menu-item"><a>添加新商品</a></li>
							<li class="menu-item"><a>商品分类</a></li>
							<li class="menu-item"><a>用户评论</a></li>
							<li class="menu-item"><a>商品品牌</a></li>
							<li class="menu-item"><a>商品类型</a></li>
							<li class="menu-item"><a>商品回收站</a></li>
							<li class="menu-item"><a>图片批量处理</a></li>
							<li class="menu-item"><a>商品批量上传</a></li>
							<li class="menu-item"><a>商品批量导出</a></li>
							<li class="menu-item"><a>商品批量修改</a></li>
							<li class="menu-item"><a>生成商品代码</a></li>
							<li class="menu-item"><a>标签管理</a></li>
							<li class="menu-item"><a>虚拟商品列表</a></li>
							<li class="menu-item"><a>添加虚拟商品</a></li>
							<li class="menu-item"><a>更改加密串</a></li>
							<li class="menu-item"><a>商品自动上下架</a></li>
						</ol>
					</dl>
					<dl class="icon-d"><li class="icon2 icon">促销管理</li></dl>
					<dl class="icon-d"><li class="icon3 icon">订单管理</li></dl>
					<dl class="icon-d"><li class="icon4 icon">广告管理</li></dl>
					<dl class="icon-d"><li class="icon5 icon">报表统计</li></dl>
					<dl class="icon-d"><li class="icon6 icon">文章管理</li></dl>
					<dl class="icon-d"><li class="icon7 icon">会员管理</li></dl>
					<dl class="icon-d"><li class="icon8 icon">权限管理</li></dl>
					<dl class="icon-d"><li class="icon9 icon">系统设置</li></dl>
					<dl class="icon-d"><li class="icon10 icon">模板管理</li></dl>
					<dl class="icon-d"><li class="icon11 icon">数据库管理</li></dl>
					<dl class="icon-d"><li class="icon12 icon">短信管理</li></dl>
					<dl class="icon-d"><li class="icon13 icon">推荐管理</li></dl>
					<dl class="icon-d"><li class="icon14 icon">邮件群发管理</li></dl>
					<dl class="icon-d"><li class="icon15 icon">移动版管理</li></dl>
					<dl class="icon-d"><li class="icon16 icon">模板堂知识库</li></dl>
				</ul>
			</div>
		</div>
		<!--主体-->
		<div class="list-ecshop"></div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/list.js"></script>

</html>